.main {
    display: flex;
    font-family: sans-serif;
}
.column {
    flex-grow: 1;
    background-color: aqua;
}
.landed {
    composes: column;
    color: red;
}
.border {
    border: 1px solid black;
}
.tandemGroup {
    border: 1px solid black;
    background-color: hotpink;
}
